<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PistonCup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="title">PistonCup</h1>
        <h2 class="subtitle">The website that helps you with every type of car transaction.</h2>

        <div class="button-container">
            <a href="/price" class="feature-card">
                <h3>Price Stimator</h3>
                <p>Set a price depending on the actual qualities of your car.</p>
            </a>
            
            <a href="/recommender" class="feature-card">
                <h3>Car Recommender</h3>
                <p>Learn what car you should buy with your available resources.</p>
            </a>
        </div>
    </div>
</body>
</html>